@using System.Linq
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            <label for="cbInstitutionType">За...</label>
            <select class="form-control" style="width:100%" id="cbInstitutionType">
                <option>Избери... </option>
            </select>
        </div>
    </div>
</div>

<script>
    $(() => {
        $("#cbInstitutionType").select2({
            placeholder: "Избери...",
            allowClear: true,
            ajax: {
                url: "@Url.Action("GetInstitutionTypes", "Noms")",
                contentType: "application/json; charset=utf-8",
                data: function (params) {
                    var query =
                    {
                        term: params.term,
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (item) {
                            return {
                                id: item.Id,
                                text: item.Name

                            };

                        }),

                    };

                }
            }
        }).on('change', function (e) {
            institutionTypeId = $(e.currentTarget).val();
        });

    });
</script>



