<style type="text/css">

    .box {
        background: #fff;
        padding: 30px;
        margin: 0 0 24px 0;
    }

    .rte .boxHeadline {
        font-size: 16px;
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 0 25px 0;
    }

        .rte .boxHeadline + .boxHeadlineSub {
            margin: -18px 0 30px 0;
        }

    .rte .boxHeadlineSub {
        font-size: 14px;
        font-style: italic;
        color: #919599;
        margin: 0 0 25px 0;
    }
</style>
<div class="container">
    <div class="col-xs-12">
        <div class="box rte">
            <h2 class="boxHeadline">Онлайн сканиране на документи</h2>
            <h3 class="boxHeadlineSub">Преглед на процес на онлайн сканиране на документи...</h3>
            <video controls
                   src=@Url.Content("~/video/isosudu-scann.mp4") width="1024">

                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can
                <a href="video/isosudu-admin.mp4">download it</a>
                and watch it with your favorite video player!

            </video>
        </div>
    </div>
</div>