@using System.Linq
@{
    Layout = null;
}
<style type="text/css">
    .dx-row.dx-data-row .purlecolumn {
        color: #bf4e6a;
    }
</style>


<div id="grid2"></div>
 <div class="selected-data">
        <span class="caption">Избрано:</span>
        <span id="selected-items-container" style="color:red;">Не сте избрали администрация</span>
      </div>
<div class="modal-footer">
    <button type="button" id="btnGridSave" class="gj-button-md" onclick="javascript:returnResult()">Добре</button>
    <button type="button" id="btnGridCancel" class="gj-button-md" onclick="window.parent.OnClosePopupEventHandlerEx('popUpClose','')">Затвори</button>
</div>
<script>

    var selectedIds = '';
    $(() => {

        $('#grid2').dxDataGrid({
            dataSource: new DevExpress.data.DataSource({
                store: new DevExpress.data.CustomStore({
                    key: 'Id',
                    load() {
                        return sendRequest(Edu.baseUrl + "Account/GetUserInSchools", 'Get', { id: $('#EmplIds').val() });
                    }
                }),
            }),
            paging: {
                pageSize: 10,
            },
            pager: {
                visible: false,
                
            },
            searchPanel: {
                visible: false,
                highlightCaseSensitive: true,
            },
            selection: {
                mode: 'single',
            },
            showBorders: true,
            showRowLines: true,
            columns: [

                { dataField: 'SchoolName', caption: 'администрация', width: "90%" },
            ],
            focusedRowEnabled: true,
            onSelectionChanged(selectedItems) {
                const data = selectedItems.selectedRowsData;
                if (data.length > 0) {
                    $('#selected-items-container').text(
                        data.map((value) => `${value.SchoolName}`)
                            .join(', '),
                    );
                    selectedIds = (data.map((value) => `${value.Id}`).join(','))
                } else {
                    $('#selected-items-container').text('Не сте избрали');
                }
            },

        });

    });
    function returnResult() {
        return window.parent.OnClosePopupEventHandlerEx('popUpOk', `${selectedIds}`);
    }
</script>
