@{
    ViewData["Title"] = "Отказан достъп";
}
<div class="spacer_20"></div>
<div class="text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <h6 class="text-danger">Нямате достъп до този ресурс.</h6>
    <img src="~/images/Warning-WF.png" alt="AccessDenied" />
</div>
