<div class="container">
    <div class="spacer_40"></div>
    <div class="alert alert-success" role="alert">
        <p>Изпратен ви бе имейл с указания за активиране на Вашия профил!</p>
    </div>
</div>
