
    <div class="d-flex justify-content-center">
    <img src="@Url.Content("~/images/vsslogo.png")">
    </div>
    <br />
<div class="d-flex justify-content-center">
    <div><span> София 1000, ул. „Екзарх Йосиф” №12</span></div>
</div>
                   
