@{
    ViewData["Title"] = "Отказан достъп";
    Layout = "~/Areas/CourtUser/Views/Shared/_Layout.cshtml";
}
<div class="spacer_20"></div>
<div class="text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
     <h6 class="text-danger">@ViewBag.Message</h6>
    <h6 class="text-danger">@ViewBag.Debug</h6>
    <h6 class="text-danger">Вашият достъп до системата е ограничен!</h6>
  
    <img src="~/images/Warning-WF.png" alt="AccessDenied" />
</div>
