@using CielaDocs.Application.Dtos
@model CourtDto
@using System.Linq
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .select2-dropdown {
        z-index: 10001 ;
    }
</style>
<div class="spacer_20"></div>
<h3>Администрация-потребител</h3>
<div id="menu"></div>
<div class="spacer_5"></div>
<div id="grid"></div>
<div id="popup"></div>
@await Html.PartialAsync("_ModalDialogPartial")
@Html.Hidden("CourtId",(int) ViewBag.CourtId)
@section scripts {
    <script>
        const anyModal = $('#anyModal');
        const anyContent = $('#anyContent');
        const anyTitle = $('#anyTitle');
        var selectedId = 0;
        $('#btnAnySave').on('click', Save);
        $('#btnAnyCancel').on('click', function () {
            anyModal.modal('hide');
            $("#grid").dxDataGrid("instance").refresh();
        });
       $('#ddlTown').select2({
            dropdownParent: $('#anyModal')
        });
        function addOwner() {
                     //popup.option({
                     //               contentTemplate: () => popupContentTemplate(1, 0)
                     //           });
                     //           popup.show();
            let spurl = EduDl.baseUrl + "Home/AddOwnerPartial";
            anyContent.empty();
            anyTitle.text('Добавяне на администрация-потребител');
            anyContent.html('<p>Зареждам данни…</p>')
            $.ajax({
                type: 'Get',
                url: spurl,
                data: {},
                success: function (data) {
                    anyContent.html(data);
                }
            });

            anyModal.modal('show');
        }
        function Save() {

            var postData = $("#anyForm").serialize();


            $.ajax({
                beforeSend: function (request) {
                    request.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken')
                },
                url: "@Url.Action("Save", "Home",new {area="Admin"})", method: 'POST', data: postData

            })
                .done(function (result) {
                    if (result.success === true) {
                        $("#grid").dxDataGrid("instance").refresh();
                        anyModal.modal('hide');
                        DevExpress.ui.notify(result.msg);

                    }
                    else {
                        DevExpress.ui.notify(result.msg);
                    }

                })
                .fail(function (e) {

                    console.log(JSON.stringify(e));
                    DevExpress.ui.notify('Failed to save! ' + e);
                    anyModal.modal('hide');
                });



        };


        $(() => {
            $('#grid').dxDataGrid({
                dataSource: new DevExpress.data.DataSource({
                    store: new DevExpress.data.CustomStore({
                        key: 'Id',
                        load() {
                            return sendRequest(EduDl.baseUrl + "Home/GetOwnerById", 'Get', {courtId:$('#CourtId').val()});
                        }
                    }),
                }),
                paging: {
                    pageSize: 10,
                },
                pager: {
                    visible: true,
                    showNavigationButtons: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true,
                },
                searchPanel: {
                    visible: true,
                    highlightCaseSensitive: true,
                },
                selection: {
                    mode: "single"
                },
                showBorders: true,
                showRowLines: true,
                columns: [

                    {
                        dataField: "Name",
                        width: "30%",
                        caption: "Наименование"
                    },
                    {
                        dataField: "NasmeName",
                        width: "20%",
                        caption: "гр./с."
                    },
                    {
                        dataField: "Address",
                        width: "20%",
                        caption: "Адрес"
                    },
                    {
                        dataField: "Email",
                        width: "20%",
                        caption: "Имейл"
                    }
                    , {
                        dataField: "IsLoginEnabled",
                        caption: "[A]",
                        width: "4%",
                        cellTemplate: function (element, info) {
                            if (info.text == 'Да') {
                                element.append("<div><img alt='.' src='./images/green-flag.png'></img></div>");
                            }
                            else {
                                element.append("<div><img alt='.' src='./images/red-flag.png'></img></div>");
                            }

                        },
                    },
                    {
                        type: 'buttons',
                        width: 96,
                        buttons: [{
                            hint: 'Редакция',
                            icon: 'edit',

                            onClick(e) {
                                editOwner(e.row.data.Id)
                                e.component.refresh(true);
                                e.event.preventDefault();
                            },
                        }
                        ],
                    }
                ],

                onRowRemoved: function (e) {
                    e.component.selectRowsByIndexes(0);
                },
                onSelectionChanged: function (items) {
                    if (items.selectedRowsData[0]) {
                        selectedId = items.selectedRowsData[0].Id;
                    }
                },
                focusedRowEnabled: true,
                onFocusedRowChanged(e) {
                    if (e) {
                        getExtraDataItem(e.row);
                    }
                },
            });


        });
        async function getExtraDataItem(row) {


            return false;
        }
        function editOwner(id) {
            let url = EduDl.baseUrl + "Home/EditOwnerPartial";
            anyContent.empty();
            anyTitle.text('Редакция');
            anyContent.html('<p>Зареждам данни…</p>')
            $.ajax({
                type: 'Get',
                url: url,
                data: { id: id },
                success: function (data) {
                    anyContent.html(data);
                }
            });
            anyModal.modal('show');
        }
        const menuData = [
        //    {
        //    id: '1',
        //    name: 'Нов',
        //    icon: './images/add.png',

        //},
             {
                id: '6_1',
                name: 'Експорт',
                icon: './images/exporter.svg',


            }, {
            id: '4',
            name: 'Обнови',
            icon: './images/refresh.png',

        }];
        const dxMenu = $('#menu').dxMenu({
            dataSource: menuData,
            hideSubmenuOnMouseLeave: false,
            displayExpr: 'name',
            onItemClick(data) {
                const item = data.itemData;
                if (item.id) {

                    switch (item.id) {
                        case '1': addOwner();
                            break;

                        case '4':
                            $("#grid").dxDataGrid("instance").refresh();
                            break;
                        case '6_1':
                            var workbook = new ExcelJS.Workbook();
                            var worksheet = workbook.addWorksheet("Owners");

                            DevExpress.excelExporter.exportDataGrid({
                                component: $("#grid").dxDataGrid("instance"),
                                worksheet: worksheet
                            }).then(function () {
                                workbook.xlsx.writeBuffer().then(function (buffer) {
                                    saveAs(new Blob([buffer], { type: "application/octet-stream" }), "Owners.xlsx");
                                });
                            });
                            break;
                    }
                }
            },
        }).dxMenu('instance');

        const showSubmenuModes = [{
            name: 'onHover',
            delay: { show: 0, hide: 500 },
        }, {
            name: 'onClick',
            delay: { show: 0, hide: 300 },
        }];



        //------------------------------------
        const popupContentTemplate = function (id, arg) {
            var cnturl;
            switch (id) {
                case 1:
                    cnturl =  EduDl.baseUrl + "Home/AddOwnerPartial";
                    break;
               
            }
        const scrollView = $('<div />');

        $.ajax({ url: cnturl, data: { id: arg }, method: 'Get', async: true, dataType: "html" })
            .done(function (result) {

                scrollView.append($('<div id="emplr" />').html(result));
                scrollView.dxScrollView({
                    width: '100%',
                    height: '100%',
                });
            })
            .fail(function (xhr) {
                alert('Грешка при зареждане на данни.' + xhr.status + ' -' + xhr.statusText + ' -' + xhr.responseText);
            });
        return scrollView;
                };

        const popup = $('#popup').dxPopup({
            contentTemplate: popupContentTemplate,
            width: 640,
            height: 'auto',
           
            container: '.dx-viewport',
           
            showTitle: true,
            title: 'Добавяне',
            visible: false,
            dragEnabled: true,
            hideOnOutsideClick: true,
            showCloseButton: true,
            position: {
                at: 'right',
                my: 'left',
                of: window,
               
                collision: {
                    x: 'none',
                    y: 'flip'
                },
                offset: '0 0'
            },
          
        }).dxPopup('instance');
    </script>
}
