<div id="loadingModal" class="modal modal-static fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="~/images/ajax_loader.gif" class="icon" />
                    <h6>Моля изчакайте... <button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</button></h6>
                </div>
            </div>
        </div>
    </div>
</div>