@using System.Security.Principal

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
      
            <img src="~/images/userin_24.png" width="24px" height="24px"  alt="." />
         <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="dropdownreg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name!</a>
              <div class="dropdown-menu" aria-labelledby="dropdownreg">
                <a class="dropdown-item"  asp-area="" asp-controller="Home" asp-action="Profile">Профил</a>
                <a class="dropdown-item"  asp-area="" asp-controller="LetterOfAttorney" asp-action="Index">е-Пълномощни</a>
                <a class="dropdown-item" href="#" id="emplactionid" >Извършени действия</a>
              </div>
            </li>
        <li class="nav-item">
            @if(ViewBag.LogoutEnabled==true)
                {
                     <a class="small_logout" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">&nbsp;Изход</a>
                }
                else
                {
                     <a  asp-controller="Home" asp-action="Index" class="small_logout" >&nbsp;Затвори</a>
                }
        </li>

}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Вход</a>
        </li>
}
</ul>