@{
    ViewData["Title"] = "Отказан достъп";
     Layout = "~/Views/Shared/_LayoutRestricted.cshtml";
}
<div class="spacer_20"></div>
<div class="text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <h6 class="text-danger">Вашият достъп до системата е ограничен!</h6>
    <img src="~/images/Warning-WF.png" alt="AccessDenied" />
</div>
