@model string
    <div class="alert alert-dismissible alert-danger">
        <strong>Защитено съдържание</strong><br />
        <p>@Model</p>
        <p><img alt="." src="~/images/protected-content.png" />&nbsp;&nbsp; Нямате разрешен достъп до съдържанието!</p>
    </div>
